# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
# Def Name_of_The_Function(Parameters):
        #Function Body
def my_function():
    print("Hello")

In [2]:
# Call the Function to execute print or code
my_function()

Hello

### Why we need function?

In [3]:
print("2001 Newburg Rd.")
print("2001 Newburg Rd.")
print("2001 Newburg Rd.")

2001 Newburg Rd.
2001 Newburg Rd.
2001 Newburg Rd.

In [4]:
def address():
    print("2001 Newburg Rd.")

In [5]:
address()
address()
address()

2001 Newburg Rd.
2001 Newburg Rd.
2001 Newburg Rd.

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [6]:
# Create a Function that retruns square of a number
import math
def square(x):
    return (math.pow(x,2))

In [7]:
square(10)

100.0

In [8]:
square(23)

529.0

In [9]:
# Cube of a number
import math
def cube(x):
    return(math.pow(x,3))

In [10]:
cube(4)

64.0

In [11]:
#IF you want to check the type of X OUTSIDE of this function what will it return? 
# x is only valued INSIDE the fucntion it is a local variable : GENERATE NAME ERROR

## Our own functions for practice
`Echo` that will act same as print

In [12]:
def echo(data):
    return data
echo("name")

'name'

In [13]:
echo(10)

10

In [14]:
def echo_New(data):
    print(data)

In [15]:
echo_New(23)

23

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [16]:
def favorite_book(title):
    print(f'One of my favorite books is {title}')
favorite_book("Akira")

One of my favorite books is Akira

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [17]:
def calc_MPG(miles_driven, gallons_used):
    return miles_driven/gallons_used

In [18]:
print(f"The MPG is: {calc_MPG(200,5)}")

The MPG is: 40.0

In [19]:
print(f"The MPG is: {calc_MPG(350,6.7)}")

The MPG is: 52.23880597014925

In [20]:
print(f"The MPG is: {calc_MPG(350,6.7):.2f}")

The MPG is: 52.24

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [21]:
def MPG(miles=200, gallon=12):
    return miles/gallon
MPG()

16.666666666666668

In [22]:
MPG(miles=210) # GALLONS REMAINS THE DEFAULT VALUE

17.5

In [23]:
MPG(gallon=10)

20.0

In [24]:
MPG(miles=600, gallon=15)

40.0

###  Function repeat using `for` loop

In [25]:
# ECHO
def repeat_echo(data,count):
    for i in range(count):
        print(data)

In [26]:
repeat_echo("Hello", 10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

## Practice: Define a function called `name` and print your name 20 times using the function

In [27]:
def name(value,count):
    for i in range(count):
        print(value)

In [28]:
name("ABC", 20)

ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC

### Write a function to find maximum of three values

In [29]:
max(10,20,45)

45

In [30]:
def maxiumum(a,b,c):
    if a>b and a>c:
        largest=a
    elif b>c:
        largest=b
    else:
        largest=c
    return largest

In [31]:
maxiumum(10,45,3)

45

In [32]:
maxiumum("a","B","z")

'z'

In [33]:
maxiumum("Sun","Moon","Earth")

'Sun'

### Practice Example: Define `minimum` function of three values

In [34]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif b<c:
        smallest=b
    else:
        smallest=c
    return smallest

In [35]:
minimum(23,45,67)

23

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [36]:
def get_mean(*args):
    return sum(args)/len(args)

In [37]:
get_mean(10, 56,8)

24.666666666666668

### Arbitary Argumented list with list

In [38]:
# CREATE A RANDOM NUMBERS LIST HAVING 10 VALUES WITH A RANGE OF 10, 50 (INCLUDED)

In [39]:
import random
random.seed(10)
numbers=[]
for i in range(10):
    x=random.randint(10,50)
    numbers.append(x)
print(numbers)
print(f"This is the mean of the random range:",get_mean(*numbers))

[46, 12, 37, 40, 46, 10, 23, 39, 41, 27]
This is the mean of the random range: 32.1

In [40]:
get_mean(*numbers)

32.1

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [41]:
x=10 # GLOBAL VARIABLE
def scope_of_function(num):
    return num*2

scope_of_function(20)

40

In [42]:
print(x)

10

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [43]:
x=10 # GLOBAL VARIABLE
def try_to_modify_global():
    x=3.5 #Scope of x changed from local to global
    return x

try_to_modify_global()

3.5

In [44]:
try_to_modify_global()

3.5

In [45]:
x

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [46]:
x=10 
def modify_global():
    global x
    x=3.5
    print("Modify_global",x)
modify_global()

Modify_global 3.5

In [47]:
x

3.5

## Write functions to find out Area and Perimeter of circle

In [48]:
from math import pi
pi

3.141592653589793

In [49]:
def area_circle(r):
    return pi*(r**2)
def peri_circle(r):
    return 2 * pi * r

In [50]:
peri_circle(10)

62.83185307179586

In [51]:
area_circle(10)

314.1592653589793

## Write functions to find out Area and Perimeter of rectangle

In [52]:
def peri_rect(b,h):
    return 2* (b+h)
print(f"Perimeter: {peri_rect(10,15)}")

Perimeter: 50

In [53]:
def area_rect(b,h):
    return (b*h)
print(f"Area: {area_rect(10,15)}")

Area: 150