# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
#Empty Dictionary
Dict={}
type(Dict)

dict

In [2]:
Dict1=dict()
type(Dict1)

dict

In [3]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [4]:
#ACCESS VALUE BASED ON KEY, OHIO IS KEY, VALUE ACCESSED IS COLUMBUS
data['Ohio']

'Columbus'

In [5]:
data['Georgia']

'Atlanta'

In [6]:
#If key is not present in dictionary it will present a key error is value accessed has no key. Generates a KeyError.
#data['New York']

In [7]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'), #TUPLE
    5: ['Saturday', 'Sunday']} #LIST

### Update elements of a dictionary and add new elements

In [8]:
#ACCESS THURSDAY
day[4][0] #4 is Key, index of thursday is 0

'Thursday'

In [9]:
#ACCESS SUNDAY
day[5][1]

'Sunday'

In [10]:
day[3]='wednesday' #DEFINE KEY AND ASSIGN VALUE to APPLY TO DICTIONARY

In [11]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'wednesday'}

In [12]:
# UPDATE SATURDAY TO A HOLIDAY, UPDATE ACCESS ELEMENT AND ASSIGN IT TO A NEW VALUE
day[5][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'wednesday'}

### `get` and `update` methods

In [13]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [14]:
data.get('Alabama')

'Montgomery'

In [15]:
data.get('Louisiana')
#NO OUTPUT BECAUSE NO KEY

In [16]:
data.update({'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [17]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [18]:
del data['Alabama']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [19]:
data.pop('Ohio')
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort'}

In [20]:
data.pop('Kentucky')

'Frankfort'

In [21]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [22]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

In [23]:
len(data)

2

In [24]:
data.keys()

dict_keys(['Arizona', 'Georgia'])

In [25]:
data.values()

dict_values(['Pheonix', 'Atlanta'])

In [26]:
data.items()

dict_items([('Arizona', 'Pheonix'), ('Georgia', 'Atlanta')])

### Loop through a dictionary

In [27]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'wednesday'}

In [28]:
for key in day.keys():
    print(key)

1
2
4
5
3

In [29]:
for value in day.values():
    print(value)

Monday
Tuesday
('Thursday', 'Friday')
['Holiday', 'Sunday']
wednesday

In [30]:
for key, value in day.items():
    print(value)

Monday
Tuesday
('Thursday', 'Friday')
['Holiday', 'Sunday']
wednesday

In [31]:
for key, value in day.items():
    print(type(key),type(value))

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
<class 'int'> <class 'tuple'>
<class 'int'> <class 'list'>
<class 'int'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [32]:
data

{'Arizona': 'Pheonix', 'Georgia': 'Atlanta'}

In [33]:
state=list(data.keys())
state

['Arizona', 'Georgia']

In [34]:
capitol=tuple(data.values())
capitol

('Pheonix', 'Atlanta')

### A List in a Dictionary

In [35]:
ExDict = {}
ExDict["Key1"]=(1,2,3,4)
ExDict["Key2"]=['Cloud', 'Wind', "Fire"]
print(ExDict)

{'Key1': (1, 2, 3, 4), 'Key2': ['Cloud', 'Wind', 'Fire']}

In [36]:
type(ExDict["Key1"])

tuple

In [37]:
type(ExDict["Key2"])

list

###  A Dictionary in a Dictionary

In [38]:
user={'est':{
    'first': 'albert',
    'last': 'einstein',
    'location': 'prinston'
},
      'mcurie':{
          'first':'marie',
          'last':'curie',
          'location':'paris'
      }
    
}

In [39]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'prinston'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [40]:
#Albert
user['est']['first']

'albert'

In [41]:
#paris
user['mcurie']['location']

'paris'

In [42]:
for username, user_info in user.items():
    print("Username:" ,username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print(full_name)
    print("location:", user_info['location'])

Username: est
albert einstein
location: prinston
Username: mcurie
marie curie
location: paris